@import "tailwindcss";

@layer base {
  html {
    scroll-behavior: smooth;
  }

  html,
  body {
    background-color: #d9d9d9;
    overflow-x: hidden;
    width: 100%;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
  }
}

@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .touch-pan-y {
    touch-action: pan-y;
  }
}
